:root {
    --mainBG : #1D262B;
}

html {
    height: 100%;
    image-rendering: crisp-edges;
}

body {
    margin: 0;
    background-color: var(--mainBG);
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: white;
    height: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

label {
    display: block;
}

input {
    width: calc(100% - 8px);
    width: -moz-available;
}

select {
    width: 100%;
}

.flex {
    display: flex;
}

.heroName {
    margin: 0px 0px 0px 20px;
}

.card {
    width: 300px;
    height: 433px;
    border: 1px solid #FFF7ED;
    padding: 20px;
    margin: 0 auto;
}

.rollStats {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.rollStats > abbr {
    color: #DB59D0;
    font-weight: bold;
}

input[type=button], input[type=submit], button {
    background-color: transparent;
    color: white;
    border: 1px solid #fff7ed;
    width: 100%;
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 17px;
    font-family: inherit;
}

input[type=button]:active {
    background-color: red;
}

input[type=button]:disabled {
    background: #ccc;
    color: #1D262B;
}



::placeholder {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}


.container {
    width: calc(100% - 30px); max-width: 1080px; margin: 0 auto
}


.wrapper {

    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 0 50px;
    padding: 30px 20px;
    padding-right: 0;
    border-radius: 10px;
    grid-auto-flow: column;
    grid-template-columns: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.item {
    width: 300px;
    border: 1px solid #FFF7ED;
    padding: 20px;
    margin: 0 auto;
}

.empty {
    width: 10px;
}

.wrapper::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}





/* —— portrait ascii art */
.char_port {
    line-height: 0.75em;
    white-space: pre;
    text-align: left;
    font-weight: normal;
}

.Human_M:after {
    content: " ~‴‴‴\a( ʘʖʘ)\a    ~";
}

.Human_F:after {
    content: "  ≈≈.\a  ζڄ ڄ\aζ  ϊ )\aζ  ~";
}

.Elf_M:after {
    content: " ~‴‴~\a؆ ὍϊὍ)\a    -";
}

.Elf_F:after {
    content: "  .ﺣ.\a  ؆ﭳ ﭳ\aζ  ϊ )\aζ  -";
}

.Dark-Elf_M:after {
    content: " ~——~\a؆ ὍϊὍ)\a    -";
}

.Dark-Elf_F:after {
    content: "  .ﺣ.\a  ؆ﭳ ﭳ\aζ  ϊ )\aζ  3";
}

.Orc_M:after {
    content: " ~#*#\a{,ಠݢಠ\a(  _ )\a   ^ ^";
}

.Orc_F:after {
    content: "  ~≈.\a  ζڄ ڄ\aζ, ݢ \aζ  _ )\a   ^ ^";
}

.Dwarf_M:after {
    content: " ﱎ‴‴‴\a( ಠﱃಠ)\a\   -\a\  ݬζζ";
}

.Dwarf_F:after {
    content: "  --.\a\ ζڄ ڄ\aζ  ﱃ )\a\ﱎ  -";
}

.chartoggle {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    background-color: var(--mainBG);
}

.chartoggle:hover {
    border-color: white !important;
}

.chartoggle div:last-child {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.magenta {
    color: #DB59D0;
}

.cyan {
    color: #4488D6;
}

#charscreen {
    height: 100vh;
    width: 0;
    border-right: 1px solid white;
    box-sizing: border-box;
    transition: width ease 1s;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: #1d262b;
    top: 0;

}

#charscreen.open {
    width: 270px;
}


#charscreen > *:first-child {
    margin-top: 90px;
}

#charscreen > * {

    margin: 10px 20px;

}

#charscreen .stat {
    display: inline-block;
    width: 30px;
}

#game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#monster {
    margin: auto;
}


.monster {
    white-space: pre;
    font-size: 10px;
    margin: auto;
}

.dragoon:before {
    content : "\a                                             ,--,  ,.-.\a                ,                   \,       '-,-`,'-.' | ._\a               /|           \    ,   |\         }  )/  / `-,',\a               [ '          |\  /|   | |        /  \|  |/`  ,`\a               | |       ,.`  `,` `, | |  _,...(   (      _',\a               \  \  __ ,-` `  ,  , `/ |,'      Y     (   \_L\\a                \  \_\,``,   ` , ,  /  |         )         _,/\a                 \  '  `  ,_ _`_,-,<._.<        /         /\a                  ', `>.,`  `  `   ,., |_      |         /\a                    \/`  `,   `   ,`  | /__,.-`    _,   `\\a                -,-..\  _  \  `  /  ,  / `._) _,-\`       \\a                 \_,,.) /\    ` /  / ) (-,, ``    ,        |\a                ,` )  | \_\       '-`  |  `(               \\a               /  /```(   , --, ,' \   |`<`    ,            |\a              /  /_,--`\   <\  V /> ,` )<_/)  | \      _____)\a        ,-, ,`   `   (_,\ \    |   /) / __/  /   `----`\a       (-, \           ) \ ('_.-._)/ /,`    /\a       | /  `          `/ \\ V   V, /`     /\a    ,--\(        ,     <_/`\\     ||      /\a   (   ,``-     \/|         \-A.A-`|     /\a  ,>,_ )_,..(    )\          -,,_-`  _--`\a (_ \|`   _,/_  /  \_            ,--`\a  \( `   <.,../`     `-.._   _,-`\a   `                      ```"
}

.actions {
    margin: 5%;
}

.actions form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.actions form input {
    margin: 10px;
}

#messageBox {
    background-color:#161d20;
    width: 100%;
    height: 20%;
    overflow: scroll;
}

#gameover {
    height: 100%;
    width: 100%;
    background-color: #161d20;
    position: fixed;
    z-index: 100;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#gameover > img {
    width: 90%;
    max-width: 680px;
    margin: 30px;
}

#gameover > input {
    width: 300px;
}


#retry,
#nextfloor,
#physical,
#magical,
#redoOfHealer {
    display: none;
}

.addStat {
    display: none;
    width: 21px !important;
    position: relative;
    top: -1px;
    font-weight: bold;
}

.title {
    width: 60%;
    max-width: 470px;
    margin: 60px auto;
}

.logout {
    text-align: center;
}

.logout > button {
    width: 300px;
}

.loginRegister {
    color: white;
    float: right;
}